<!-- <button (click)="show = !show">change</button> -->
<button (click)="changeSalute()">Cambiar saludo</button>

<!-- nuevo ng if -->
@if (show()) {
<h1>Hello</h1>
}@else {
<h1>klk</h1>
}

<button (click)="addPerson()">Add Person</button>
<!-- nuevo Bucle for -->
@for (person of personsList(); track $index) {
<h1>{{ person }}</h1>
}@empty {
<h1>No existen elementos en el arrelgo</h1>
}

<!-- Computer -->
<h4>Computer</h4>
{{ saludoComputed() }}
<br />

<!-- defer: para cargar componentes de manera perezoza, 
    por defecto no cargara el componente hasta que este completo -->
@defer{
<div class="block">
  <h1>componente defer 1</h1>
</div>
}@placeholder {
<span> Cargando el componente </span>
}
<br />
@defer(){
<div class="block">
  <h1>componente defer 1</h1>
</div>
}@loading (after 2000ms; minimum 1s) {
<h1>cargando 2</h1>
}

<!-- --------------ANGULAR MATERIAL---------------- -->

<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
